name: CD - Build and Publish (Manual)

on:
  push:
    branches: [ "main" ]
    # Opcional: Ejecutar solo si hay cambios en la carpeta RA3
    paths:
      - 'RA3/**'

env:
  # Nombre de tu repositorio en DockerHub (ej: usuario/repo)
  DOCKER_IMAGE_BASE: ${{ secrets.DOCKERHUB_USERNAME }}/pps-ra3

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
       
          # Tarea 1.1
          - context: ./RA3/RA3_1/Tarea_1.1
            image_tag: ra3_1-tarea-1.1
          
          # Tarea 1.2
          - context: ./RA3/RA3_1/Tarea_1.2
            image_tag: ra3_1-tarea-1.2
          
          # Tarea 1.3
          - context: ./RA3/RA3_1/Tarea_1.3
            image_tag: ra3_1-tarea-1.3
            
          # Tarea 1.4
          - context: ./RA3/RA3_1/Tarea_1.4
            image_tag: ra3_1-tarea-1.4

          # Tarea 1.5
          - context: ./RA3/RA3_1/Tarea_1.5
            image_tag: ra3_1-tarea-1.5

          # Tarea 2
          - context: ./RA3/RA3_1/Tarea_2
            image_tag: ra3_1-tarea-2

          # Tarea 3
          - context: ./RA3/RA3_1/Tarea_3
            image_tag: ra3_1-tarea-3

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build y Push (${{ matrix.image_tag }})
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.context }}/Dockerfile
          push: true
          # La imagen final será: usuario/pps-ra3:tarea-1.1-v1
          tags: ${{ env.DOCKER_IMAGE_BASE }}:${{ matrix.image_tag }}